@media (max-width: 640px) {
    #body {
        display: none;
    }
    #relEl {
        position: relative;
    }
    #abEl {
        position: absolute;
        width: 100px;
    }
}

.miniSide {
    display: none !important;
}

#profile {
    padding: 4px;
}

.SideMainBtns {
    border-radius: 21px;
    &:hover {
        background: linear-gradient(90deg, #087592 43.67%, #2393B0 97.5%);
        box-shadow: 4px 15px 60px rgba(109, 141, 173, 0.25);
    }
}